<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image Text Translator - Google Cloud App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">Image Text Translator</div>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/images">Images</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <h3>{{action}} image</h3>
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label><input type="text" name="title" id="title" value="{{image.title}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="tag">Tag</label><input type="text" name="tag" id="tag" value="{{image.tag}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="publishedDate">Date Published</label><input type="text" name="publishedDate" id="publishedDate" value="{{image.publishedDate}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label><input type="text" name="description" id="description" value="{{image.description}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="image">Image to translate</label><input type="file" name="image" id="image" class="form-control">
      </div>
      <div class="form-group hidden">
        <label for="imageUrl">Image to translate URL</label><input type="text" name="imageUrl" id="imageUrl" value="{{image.imageUrl}}" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</body>
</html>